// Define fonts for body and headers
$body-font: 'Quicksand',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
$headers-font: 'Kiwi Maru', serif;
