// Graphical variables
@import "config/index";
@import "components/index";

// External libraries
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

body {
  padding-top: calc(56px + 2.5em);
}
