// Graphical variables
@import "config/index";
@import "components/index";

// External libraries
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

body {
  padding: calc(56px + 2.5em) 0 2.5em 0;
}
